{% extends "adminSGA/layout.html" %}

{% block body %}

<div class="container mt-5 mb-5 bg-light border p-4 pr-5 pl-5">
    <div class="w-75 mx-auto">
        <h2>Register</h2>

        {% if message %}
            <div class="text-center">
              <div class="alert alert-success w-50 mx-auto">
                    {{ message }}
              </div>
            </div>
        {% endif %}

        <form action="{% url 'register' %}" method="post" autocomplete="off">
            {% csrf_token %}

            <div class="form-group">
                <input class="form-control" type="text" name="first_name" placeholder="Name" required>
            </div>

            <div class="form-group">
                <input class="form-control" type="text" name="last_name" placeholder="Last Name" required>
            </div>

            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address" required>
            </div>

            <div class="form-group">
                <input class="form-control" type="text" name="celphone" placeholder="Celphone Number">
            </div>

            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password" required>
            </div>

            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
            </div>

            <input class="btn btn-primary" type="submit" value="Register">
        </form>

    </div>
</div>

{% endblock %}