{% extends "aulas/layout.html" %}

{% block body %}
<div class="container">
    <br>
    <h1>Acerca de</h1>
    <p>El proyecto nace de la necesidad de establecer un sistema sencillo pero bastante util para alumnos que recien comienzan sus estudios en el Instituto Tecnologico de Morelia, los cuales pueden desconocer en su totalidad las instalaciones que aqui se encuentran, provocando atrasos o algun otro tipo de problema relacionado a la desinformacion. </p>
    <p> Es por esto que este sistema no se limita solo a estos alumnos de nuevo ingreso, sino que sirve para todo publico que desee conocer los edificios, aulas, caracteristicas, horarios, etc. que se manejan en cada uno.</p>
    <hr>
    <p>Este proyecto fue hecho por alumnos del Instituto, pertenecientes a la carrera de Ingenieria en Sistemas Computacionales.</p>
    <ul>
        <li>Diego Zamora Delgado</li>
        <li>Brandon Alexis Rodriguez Molina</li>
        <li>Jorge Luis Baltazar Perez</li>
        <li>Mauricio Antonio Martinez Martinez</li>
    </ul>
    <img src="https://scontent.fmlm1-1.fna.fbcdn.net/v/t1.0-9/52755258_295502651079547_3597164788347568128_o.jpg?_nc_cat=108&ccb=2&_nc_sid=cdbe9c&_nc_eui2=AeEM090ao2Oqv9aQOCGrWaGOY6hgSytQfiJjqGBLK1B-Il9VMi33qSth7ab8lfpd8Ic0nBXdTg_OhHw3ZzKme-m3&_nc_ohc=ADwIy2y_6xMAX8ToxZq&_nc_oc=AQmmKjq1Nw-js7CvjH_GDBLuhB_cb1jjQGkMB8ycEWmNrhyA7lEoYiOagELQ-x8KePYj69Iu3Fk28jISwghy24st&_nc_ht=scontent.fmlm1-1.fna&oh=8167c39555ea598b9f40973f0c007886&oe=602611A5" alt="fuente" class="img-fluid">
    <br><br>
</div>
    
{% endblock %}