{% extends "aulas/layout.html" %}
{% load static %}

{% block body %}
<br>
<div class="container text-center">
   <h1 class="display-4 font-weight-light">Bienvenido al mapa interactivo del Tec de Morelia</h1>
   <div class="text-center">
      <img src="{% static 'adminSGA/img/logo-mapas.png' %}" width="400px" class="img-fluid" alt="campus">
   </div>
   <hr>
   <br>
   <h1 class="display-4 font-weight-light">Mapa</h1>
   <br><br>
</div>
{% include "aulas/map.html" %}
<hr>
{% endblock %}
        