{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>Aulas TEC</title>

        <link rel="icon" type="image/x-icon" href="{% static 'adminSGA/img/Itmorelia.png' %}">

        <!-- Bootstrap & jQuery-->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script type="text/javascript" src="{% static 'sga/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'sga/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'sga/dinamico.js' %}"></script>
        <script type="text/javascript" src="{% static 'sga/map.js' %}"></script>

        <!-- Mi CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'sga/miEstilo.css' %}">
        <link rel="stylesheet" href="{% static 'sga/map.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <img src="{% static 'adminSGA/img/logo-mapas.png' %}" alt="logo_tec" class="img-fluid" style="max-width: 50px;">
            <a class="navbar-brand" href="/">Aulas Tec</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{% url 'listado' %}">Listado</a>
                <a class="nav-item nav-link" href="{% url 'acerca' %}">Acerca</a>
              </div>
               <div class="navbar-nav ml-auto text-center">
              
                  <a id="btn-home" class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  
               </div>
            </div>
        </nav>

        {% block body %}
        {% endblock %}


        <footer class="text-light bg-dark">
            <div class="text-center py-3">© 2020 Copyright:
              <a href="https://wwwwwwwww.jodi.org"> losmanes.com</a>
            </div>       
        </footer>

        <div id="exampleModal2" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edificio A</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <h6>Oficina A1</h6>
                  <p>El edificio principal del tec, en esta oficina podras encontrar todo tipo de informacion.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Ver mas</button>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="myEncuesta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ayudanos a mejorar</h5>

                  <button id="cerrar" type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="restartCounter();">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="container">

                        <div class="row">
                            <div class="text-center" id="miPregunta">
                                <p>Las siguientes preguntas son para medir su nivel de satisfaccion</p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="w-25 mx-auto">
                                <img id="sad" class="imgBtn rounded" src="{% static 'sga/sad.png' %}" width="35">
                              <img id="neutral" class="imgBtn rounded" src="{% static 'sga/neutral2.png' %}" width="35">
                              <img id="happy" class="imgBtn rounded" src="{% static 'sga/happy.png' %}" width="35">
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="restartCounter();">Cerrar</button>
                    <button id="next" type="button" class="btn btn-primary" onclick="nextP();">Siguiente</button>
                </div>
              </div>
            </div>
          </div>
    </div>

        
    </body>
</html>