{% extends "aulas/layout.html" %}

{% block body %}
<br>
<div class="container">
    <h2 class="text-muted font-weight-light">Aqui encontraras toda la informacion necesaria acerca de los edificios y aulas del campus.</h2>
    <br><hr>

    <h4>Busqueda por nombre</h4>

        <input id="texto" class="form-control mr-sm-4" placeholder="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" onclick="buscar()">Search</button>

    <br>
    <br>

    <h4>Lista de edificios/aulas</h4>

    <div id="content-table">
      {% for edificio in edificios %}
      <div id="accordion">
        <div class="card text-center">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne{{ edificio.nombre }}" aria-expanded="true" aria-controls="collapseOne{{ edificio.nombre }}">
                {{ edificio.nombre }}
              </button>
            </h5>
          </div>

          <div id="collapseOne{{ edificio.nombre }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              {% for aula in aulas%}
                {% if aula.edificio == edificio %}
                  <a href="">{{ aula.nombre }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
</div>
<br>
{% endblock %}